*{
    margin: 0;
    padding: 0;
}
:root{
    --background-color: #023102;
    --color: green;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
header{
    padding: 20px 50px 15px 50px;
    background: var(--background-color);
    color: white;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}


.mb-3 input:focus{
    border: #023102;
}
.title{
    display: flex;
    justify-content: space-between;
    width: 20%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title h1{
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title b{
    font-weight:900;
    color: rgb(17, 160, 17);
}
.nav-bar{
    display: flex;
    text-align: right;
    justify-content: right;
    gap: 60px;
    align-items: center;
}

.login-wrap{
    border: 1px solid #9ca39f;
    padding: 10px 20px;
    border-radius: 25px;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.dropdown-menu a{
    color: black;
}
.icon{
    display: none;
}

.nav-bar a:hover{
    color: var(--color);
}

main{
    background: var(--background-color);
    padding: 80px 80px;
}

.text{
    font-size: 30px;
    color: white;
    font-weight: 200;
}

.text b{
    color: var(--color);
}

.main{
    display: flex;
    gap: 30px;
    color: white;
    padding-top: 20px;
}

.main .left{
    width: 50%;
}


.left-text, .right-top, .right-bottom{
    display: grid;
    grid-gap: 15px;
}
.primary{
    color: var(--color);
}

.main .secondary{
    color: #9ca39f;
}

.right-top{
   margin-bottom: 30px;
   border-bottom: 1px solid rgb(163, 162, 162);
   padding-bottom: 20px;
}

.container{
    padding: 80px;
    display: grid;
    gap: 30px;
}

.article-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1.7rem));
    grid-gap: 10px;
    text-align: left;
    justify-content: center; 
}
.row{
    gap: 10px;
}
.box{
    width: 300px;
    border: 1px solid #9ca39f;
    padding: 8px;
    display: grid;
    grid-gap: 0px;
    transition: 0.3s;
    margin-bottom: 20px;
    border-radius: 5px;
}

.box:hover{
    position: relative;
    top: -30px;
    box-shadow: 0px 1px 5px black;
}
.box-text{
    display: grid;
}

.box-text p{
    font-size: 12px;
}

.box-text b{
    font-size: 15px;
}

.box h4{
    font-weight: 600;
    font-size: 18px;
}

.author{
    display: flex;
    gap: 15px;
    align-items: center;
}

.author img{
    border-radius: 100%;
}

.view-right{
    display: grid;
    grid-gap: 10px;
}

.view-right h1{
    font-size: 30px;
    font-weight: 600;
}

.view .image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(45, 85, 54, 0.61);
}
.view-wraper .author{
    padding:10px 20px;
    background: rgb(235, 238, 235);
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.view-wraper .author h3{
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.action{
    display: flex;
    gap: 10px;
    justify-content: right;
}

footer{
    background: var(--background-color);
    padding: 80px 80px 0;
    display: grid;
    grid-gap: 30px;
    color: white;
}

footer .text{
    text-align: center;
}

.footer-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #9ca39f;
    padding: 30px 0;
}

@media (min-width: 1024px) {
    .view{
        display: flex;
        gap: 30px;
    }

    .view img{
        width: 400px;
    }
}

@media (max-width: 950px) {
    .nav-bar a{
        font-size: 15px;
    }
}

@media (max-width: 768px){
    header{
        position: sticky;
        top: 0;
        z-index: 100;
        padding: 10px 40px;
    }
    .container{
        padding: 40px;
    }
    header .nav-bar{
        display: none;
        position: fixed;
        right: 0;
        top: 70px;
        text-align: left;
        background: rgba(41, 143, 87, 0.418);
        padding: 10px;
        grid-gap: 10px;
        font-size: 20px;
        
    }
    .login-wrap{
        border: none;
        padding: 0;
    }
    header .nav-bar a{
        width: 200px;
    }

    header .nav-bar a:hover{
        background: #03500357;
    }

    .icon{
        margin-top: 10px;
        display: block;
        font-size: 20px;
        color: white;
    }

    .main{
        display: grid;
        grid-gap: 20px;
    }

    .main .left{
        width: 100%;
    }

    .main .left img{
        width: 100%;
    }


    .view{
        display: grid;
    }
    .view .image{
        width: 100%;
    }

    .view img{
        width: 100%;
    }

    footer .nav-bar{
        display: grid;
        gap: 10px;
    }
}
@media (max-width: 500px) {
    header{
        padding:5px 25px;
    }
    header .nav-bar{
        top: 50px;
      }
    main{
        padding: 25px;
    }

    .left-text, .right-top, .right-bottom{
        gap: 0;
    }

    .icon{
        margin-top: 0px;
    }

    .wrap{
        padding:25px 25px;
        display: flex;
        justify-content: center;
    }

    .container{
        padding:20px 0 0 0px;
        width: 80%;
    }
    .view-right h1{
        font-size: 12px;
    }

    .view-wraper .author{
        width: 100%;
        padding: 0;
    }

    .view-wraper .author img{
        width: 30px;
        height: 30px;
    }

    .view-wraper .author h3, p{
        font-size: 12px;
    }

    .view-wraper .author img{
        margin-bottom: 20px;
    }

    .footer-wrap{
        display: grid;
    }

    .footer-wrap .nav-bar{
        text-align: left;
    }

    footer{
        padding:15px 25px;
    }

    footer h1{
        font-size: 20px;
    }
}

@media (max-width: 390px) {
    .container{
        width: 95%;
    }
}